langgraph==0.6.7
langchain==0.3.25
langchain-openai==0.3.17
langgraph-checkpoint-postgres==2.0.21
fastapi==0.115.12
redis==6.2.0
celery==5.5.3
rich==14.0.0
concurrent-log-handler==0.9.28
langchain-mcp-adapters==0.1.9